

@adobe:registry=https://artifactory.corp.adobe.com/artifactory/api/npm/npm-adobe-release/
//artifactory.corp.adobe.com/artifactory/api/npm/npm-adobe-release/:_password=QUtDcDhqUkdNdVBQZkM0UnZwWDZRQ1NGM0FKTHNIWmgxRUNGRnhUb2RCM0ZSR3h1dXdtd1RhWm1tVUU4ZldaQk1oV0xNSlpaRw
//artifactory.corp.adobe.com/artifactory/api/npm/npm-adobe-release/:username=swejain
//artifactory.corp.adobe.com/artifactory/api/npm/npm-adobe-release/:email=swejain@adobe.com
//artifactory.corp.adobe.com/artifactory/api/npm/npm-adobe-release/:always-auth=true