

@adobe:registry=https://artifactory.corp.adobe.com/artifactory/api/npm/npm-adobe-release/
//artifactory.corp.adobe.com/artifactory/api/npm/npm-adobe-release/:_password=${PSWD}
//artifactory.corp.adobe.com/artifactory/api/npm/npm-adobe-release/:username=${ARTIFACTORY_USER}
//artifactory.corp.adobe.com/artifactory/api/npm/npm-adobe-release/:email=${NPM_EMAIL}
//artifactory.corp.adobe.com/artifactory/api/npm/npm-adobe-release/:always-auth=true