:root {
    --gray-1 : #191919;
    --blue-2: #378ef0;
    --gray-14 : #999999;
    --primary-color: white;
    --secondary-color: black;
    --main-header-bg-color: white;
    --main-header-bottom-border-color: grey;
    --footer-background-color: var(--gray-1);
    --footer-text-color: var(--gray-14);
    --footer-language-input-text-color: var(--blue-2);
    --category-color:white;
}